html {
    font-size: 14px;
}

body {

}

footer {
    margin-top: 2rem;
}

a {
    color: #088995;
}

a:hover, a:focus, .nav-link:hover, .nav-link:focus {
    color: #2c3e50;
}

.container-main {
    margin-top: 50px;
}

.container {
    max-width: 80rem;
}

.form-control.error {
    border-color: #088995;
}

label.error {
    font-size: 0.8rem;
    font-weight: normal;
    color: #088995;
}

.nav {
    background: #088995;
    color: white;
}

.nav-link {
    padding: 15px 10px;
    color: white;
    display: inline-block;
}

.navbar-brand {
    color: white;
    /*background: url("/images/airgateway-logo.png") no-repeat top left;*/
    background-size: 44px;
    background-position-y: 0px;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    text-transform: uppercase;
    float: none;
}

.navbar-brand:hover {
    color: white;
}

.dropdown.open .dropdown-menu {
    display: block;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #292b2c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
}

.nav .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#home-jumbotron {
    background-size: cover;
    background-position: center;
    height: 550px;
    color: #FFF;
    padding: 1px;
}

.jumbotron h1 {
    margin-top: 50px;
    color: inherit;
}

#jumbo-cta {
    margin-top: 40px;
}

.btn.planRequest, .btn.invalidateKey, .btn.disallowed {
    margin-top: 20px;
}

#portal-footer {
    margin-top: 30px;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

#login-panel {
    margin-top: 50px;
}

#forgot-password-panel, #reset-password-panel {
   margin-top: 50px;
}

#register-panel {
    margin-top: 50px;
}

#edit-profile-panel {
    margin-top: 30px;
}

#secondary-navigation {
    margin-top: 30px;
}

.attribution {
    font-size: 9px;
    margin-top: -25px;
}

.colors {
    background-color: #088995;
    color: #fcd100;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #eee;
}

@media screen and (min-width: 768px) {
    .jumbotron {
        padding: 48px 0;
    }

    .jumbotron .h1, .jumbotron h1 {
        font-size: 63px;
    }

    .nav .dropdown-menu {
        right: 0;
        left: auto;
    }
}

.nav .open > a {
    color: #333;
    background-color: #fff;
}

/* setup */

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: #088995;
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn-default {
    color: #fff;
    background-color: #95a5a6;
    border-color: #fff
}

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open > .dropdown-toggle.btn-default {
    color: #fff;
    background-color: #798d8f;
    border-color: #fff
}

.btn-default.disabled, .btn-default.disabled.active, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled], .btn-default[disabled].active, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default.active, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover {
    background-color: #fff;
    border-color: #ccc
}

.btn-default .badge {
    color: #fff;
    background-color: #333
}

.btn-primary {
    color: #fff;
    background-color: #2c3e50;
    border-color: #2c3e50
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #1a242f;
    border-color: #161f29
}

.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
    background-color: #95a5a6;
    border-color: #95a5a6
}

.btn-primary .badge {
    color: #95a5a6;
    background-color: #fff
}

.btn-success {
    color: #fff;
    background-color: #95a5a6;
    border-color: #95a5a6
}

.btn-success.active, .btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover, .open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #449d44;
    border-color: #398439
}

.btn-success.active, .btn-success:active, .open > .dropdown-toggle.btn-success {
    background-image: none
}

.btn-success.disabled, .btn-success.disabled.active, .btn-success.disabled.focus, .btn-success.disabled:active, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success[disabled], .btn-success[disabled].active, .btn-success[disabled].focus, .btn-success[disabled]:active, .btn-success[disabled]:focus, .btn-success[disabled]:hover, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success.active, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:hover {
    background-color: #5cb85c;
    border-color: #4cae4c
}

.btn-success .badge {
    color: #5cb85c;
    background-color: #fff
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da
}

.btn-info.active, .btn-info.focus, .btn-info:active, .btn-info:focus, .btn-info:hover, .open > .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc
}

.btn-info.disabled, .btn-info.disabled.active, .btn-info.disabled.focus, .btn-info.disabled:active, .btn-info.disabled:focus, .btn-info.disabled:hover, .btn-info[disabled], .btn-info[disabled].active, .btn-info[disabled].focus, .btn-info[disabled]:active, .btn-info[disabled]:focus, .btn-info[disabled]:hover, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info.active, fieldset[disabled] .btn-info.focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:hover {
    background-color: #5bc0de;
    border-color: #46b8da
}

.btn-info .badge {
    color: #5bc0de;
    background-color: #fff
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236
}

.btn-warning.active, .btn-warning.focus, .btn-warning:active, .btn-warning:focus, .btn-warning:hover, .open > .dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512
}

.btn-warning.disabled, .btn-warning.disabled.active, .btn-warning.disabled.focus, .btn-warning.disabled:active, .btn-warning.disabled:focus, .btn-warning.disabled:hover, .btn-warning[disabled], .btn-warning[disabled].active, .btn-warning[disabled].focus, .btn-warning[disabled]:active, .btn-warning[disabled]:focus, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning.active, fieldset[disabled] .btn-warning.focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:hover {
    background-color: #f0ad4e;
    border-color: #eea236
}

.btn-warning .badge {
    color: #f0ad4e;
    background-color: #fff
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a
}

.btn-danger.active, .btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open > .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925
}

.btn-danger.disabled, .btn-danger.disabled.active, .btn-danger.disabled.focus, .btn-danger.disabled:active, .btn-danger.disabled:focus, .btn-danger.disabled:hover, .btn-danger[disabled], .btn-danger[disabled].active, .btn-danger[disabled].focus, .btn-danger[disabled]:active, .btn-danger[disabled]:focus, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger.active, fieldset[disabled] .btn-danger.focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:hover {
    background-color: #d9534f;
    border-color: #d43f3a
}

.btn-danger .badge {
    color: #d9534f;
    background-color: #fff
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-body {
    padding: 15px;
}

.panel-default {
    border-color: #ddd
}

.panel-default > .panel-heading {
    color: #fff;
    background-color: #95a5a6;
    border-color: #ddd
}

.panel-heading > .dropdown .dropdown-toggle, .panel-title, .panel-title > .small, .panel-title > .small > a, .panel-title > a, .panel-title > small, .panel-title > small > a {
    color: inherit;
}

.panel-title, .panel > .list-group, .panel > .panel-collapse > .list-group, .panel > .panel-collapse > .table, .panel > .table, .panel > .table-responsive > .table {
    margin-bottom: 0;
    margin-top: 0;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd
}

.panel-primary {
    border-color: #95a5a6
}

.panel-primary > .panel-heading {
    color: #fff;
    background-color: #95a5a6;
    border-color: #95a5a6
}

.panel-primary > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #95a5a6
}

.panel-primary > .panel-heading .badge {
    color: #95a5a6;
    background-color: #fff
}

.panel-primary > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #95a5a6
}

.panel-success {
    border-color: #5cb85c
}

.panel-success > .panel-heading {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c
}

.panel-success > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #5cb85c
}

.panel-success > .panel-heading .badge {
    color: #5cb85c;
    background-color: #fff
}

.panel-success > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #5cb85c
}

.panel-danger {
    border-color: #088995
}

.panel-danger > .panel-heading {
    color: #fff;
    background-color: #088995;
    border-color: #088995
}

.panel-danger > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #088995
}

.panel-danger > .panel-heading .badge {
    color: #088995;
    background-color: #fff
}

.panel-danger > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #088995
}

dt, kbd kbd, label {
    font-weight: 700;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

/* chat messages */

.chat__messages {
    padding: 0px 20px 0 20px;
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
}

.chat__message-line {
    text-align: center;
    margin: 4px 0px;
    font-size: 16px;
    color: #888;
    position: relative;
    height: 24px;
}

.chat__message-line:after {
    position: absolute;
    left: 0;
    top: 50%;
    height: 1px;
    background: #ccc;
    content: "";
    width: 100%;
    display: block;
    z-index: 9;
}

.chat__message-line div div {
    position: relative;
    left: -50%;
    background-color: white;
}

.chat__message-line div {
    display: inline-block;
    padding: 0px 10px;
    z-index: 10;
    left: 46%;
    position: absolute;

}

.chat__message-author {
    float: left;
}

.chat__message-text {
    float: left;
    margin-left: 10px;
}

.chat__textbox {
    border-top: 1px solid #088995;
    padding: 20px 5px 0 20px;
    margin-top: 20px;
}

.chat__textbox textarea {
    resize: vertical;
    max-height: 200px;
    min-height: 60px;
}

.border-catalogue {
    border: 1px solid #088995;
}


/*Form Wizard*/
.bs-wizard-wrap {
    overflow-x: auto;
}
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0; display: table;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative; display:table-cell; min-width: 120px}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959;  margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #088995; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #0fb6c5; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0; background: #b4bcc2}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #088995;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #b4bcc2;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/
