<h1>Developer dashboard</h1>

<p>
    This is your developer dashboard, here you can view the API usage and limits for your API keys over the last hours.
</p>
<p>

    You can enroll for access by visiting <a href="/apis/">the API Catalogue</a> page

</p>

<h2>Your API Subscriptions</h2>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Airline NDC Developer Portal</h3>
    </div>
    <div class="panel-body">
        <p> Join the direct distribution age of the airline industry </p>

        <div class="well">
            <strong>Key Allowances:</strong>
            <ul>
                <li><strong>Rate limit:</strong> 1000 requests per 60 second</li>
                <li><strong>Quota</strong>: 1000 requests renews every 3600 seconds</li>
            </ul>

        </div>
    </div>
</div>