{{ define "main" }}
<div id="plan-panel" class="container collapse in">
    <div class="row">
        <div class="col-lg-12">

            <h1>{{ .Title }}</h1>
            <div class="row planMessage-container">

            </div>
            <div class="row plan-container">

            </div>
        </div>
    </div>
</div> {{ "<!-- /.container -->" | safeHTML }}

<div id="plan-form-panel" class="container collapse">
    <div class="row">
        <div class="col-md-8 center">
            <h1>{{ .Title }}</h1>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{.Params.request_key}}</h3>
                </div>
                <div class="panel-body">
                    <form id="plan-form" action="" method="POST">
                        <input type="submit" class="btn btn-success" value="{{.Params.request}}">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="plan-result" class="container collapse">
    <div class="row">
        <div class="col-lg-12">
            <h1>{{.Params.request_key}}</h1>
            <div class="error-exist collapse">
                <div class="panel panel-danger">
                    <div class="panel-body">
                        {{.Params.key_for_this_plan}}
                    </div>
                </div>
                <p>
                    {{.Params.key_already_associated}}
                </p>
            </div>
            <div class="error-access collapse">
                <div class="panel panel-danger">
                    <div class="panel-body">
                        You don't have permissions to request this plan
                    </div>
                </div>
                <p>
                    It appears when manager didn't accept you to request this plan. Please perform actions described in chat with airline to proceed further.
                </p>
            </div>
            <div class="ok-requested collapse">
                <div class="panel panel-success">
                    <div class="panel-body">
                        {{.Params.requested_wait_approve}}
                    </div>
                </div>
            </div>
            <div class="ok-approved collapse">
                <div class="panel panel-success">
                    <div class="panel-body">
                        <p>{{.Params.successfully_requested}}</p>
                        <p>{{.Params.your_api_key}}: <strong class="ok-approved-key"></strong></p>
                    </div>
                </div>
            </div>
            <div class="ok-invalidated collapse">
                <div class="panel panel-success">
                    <div class="panel-body">
                        <p>{{.Params.successfully_invalidated}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="tpl_plan" type="text/html">
    <div class="col-md-9 col-md-offset-1 border-catalogue mb-4">
        <div class="col-md-12">
            <h2 class="h3">{{ "<%- name %>" | safeHTML }}</h2>
            <p></p>
            <p>{{ "<%- short_description %>" | safeHTML }}</p>
            <div>{{ "<%= long_description %>" | safeHTML }}</div>
        </div>
        {{ "<% if (key != '') { %>" | safeHTML }}
        <div class="float-left col-md-12">
            <h3 class="h4 text-muted mt-1">Authorized Plan Details</h3>
            <div class="float-left col-md-6">
                <strong>Plan Settings:</strong>
                <ul>
                    <li><strong>URL</strong>: {{ "<%- url %>" | safeHTML }} </li>
                    <li><strong>Auth Header</strong>: {{ "<%- auth_header %>" | safeHTML }} </li>
                    <li><strong>API Key</strong>: {{ "<%- key %>" | safeHTML }} </li>
                </ul>
            </div>
            <div class="float-left col-md-6">
                <strong>Key Allowances:</strong>
                <ul>
                    <li><strong>Rate limit:</strong> {{ "<%- rate  %>" | safeHTML }} requests per {{ "<%- per %>" | safeHTML }} second</li>
                    <li><strong>Quota</strong>: {{ "<%- quota_max %>" | safeHTML }} requests renews every {{ "<%- quota_renewal_rate %>" | safeHTML }} seconds</li>
                </ul>
            </div>
            {{ "<% } %>" | safeHTML }}
            <p class="clearfix"></p>

            <div class="mt-2 mb-4 float-left col-md-6 col-md-offset-3">
                {{ "<% if (status == 'new') { %>" | safeHTML }}
                <a href="#" class="btn btn-success btn-block planRequest" data-plan="<%- id %>">
                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>&nbsp; {{.Params.request_api_key}}
                </a>
                {{ "<% } else if (status == 'active') { %>" | safeHTML }}
                <a href="#" class="btn btn-danger btn-block invalidateKey" data-plan="<%- id %>">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp; {{.Params.invalidate_api_key}}
                </a>
                {{ "<% } else if (status == 'disallowed') { %>" | safeHTML }}
                <a href="/member/onboarding?id=<%- id %>" class="btn btn-success btn-block disallowed">
                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>&nbsp; {{.Params.need_enroll_for_api_key}}
                </a>
                {{ "<% } %>" | safeHTML }}
            </div>
        </div>
    </div>
</script>

{{ end }}