{{ define "main" }}
<div id="plan-panel" class="container collapse in">
    <div class="row">
        <div class="col-lg-12">

            <h1>{{ .Title }}</h1>

            <div class="row plan-container">

            </div>
        </div>
    </div>
</div> {{ "<!-- /.container -->" | safeHTML }}

<div id="plan-form-panel" class="container collapse">
    <div class="row">
        <div class="col-md-7 center">
            <h1>{{ .Title }}</h1>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{.Params.request_key}}</h3>
                </div>
                <div class="panel-body">
                    <form id="plan-form" action="" method="POST">
                        <input type="submit" class="btn btn-success" value="{{.Params.request}}">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="plan-result" class="container collapse">
    <div class="row">
        <div class="col-lg-12">
            <h1>{{.Params.request_key}}</h1>
            <div class="error-exist collapse">
                <div class="panel panel-danger">
                    <div class="panel-body">
                        {{.Params.key_for_this_plan}}
                    </div>
                </div>
                <p>
                    {{.Params.key_already_associated}}
                </p>
            </div>
            <div class="error-access collapse">
                <div class="panel panel-danger">
                    <div class="panel-body">
                        You don't have permissions to request this plan
                    </div>
                </div>
                <p>
                    It appears when manager didn't accept you to request this plan. Please perform actions described in chat with airline to proceed further.
                </p>
            </div>
            <div class="ok-requested collapse">
                <div class="panel panel-success">
                    <div class="panel-body">
                        {{.Params.requested_wait_approve}}
                    </div>
                </div>
            </div>
            <div class="ok-approved collapse">
                <div class="panel panel-success">
                    <div class="panel-body">
                        <p>{{.Params.successfully_requested}}</p>
                        <p>{{.Params.your_api_key}}: <strong class="ok-approved-key"></strong></p>
                    </div>
                </div>
            </div>
            <div class="ok-invalidated collapse">
                <div class="panel panel-success">
                    <div class="panel-body">
                        <p>{{.Params.successfully_invalidated}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="tpl_plan" type="text/html">
    <div class="col-md-4">
        <h2>{{ "<%- name %>" | safeHTML }}</h2>
        <p></p>
        <p>{{ "<%- short_description %>" | safeHTML }}</p>
        <p></p>
        {{ "<% if (status == 'new') { %>" | safeHTML }}
        <a href="/member/plan-request/<%- id %>" class="btn btn-success btn-block planRequest" data-plan="<%- id %>">
            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>&nbsp; {{.Params.request_api_key}}
        </a>
        {{ "<% } else if (status == 'active') { %>" | safeHTML }}
        <a href="/member/invalidate-key/<%- id %>" class="btn btn-danger btn-block invalidateKey" data-plan="<%- id %>">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp; {{.Params.invalidate_api_key}}
        </a>
        {{ "<% } else if (status == 'disallowed') { %>" | safeHTML }}
        <a href="#" class="btn btn-primary btn-block disabled disallowed"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;
            No access to request this plan
        </a>
        {{ "<% } %>" | safeHTML }}

    </div>
</script>
{{ end }}

